/*  your css code here. If applicable */
.container{
	background-color:gray;
}
h1{
	text-align:center;
	color:white;
	padding:1px;
}
.images{
	display:grid;
	grid-template-columns:auto auto auto;
	padding:10px;
	
}
